.deleteButton {
  width: 100px;
  margin: 5px auto;
  padding: 15px 0;
  border: none;
  background-color: rgb(216, 212, 212);
  border-radius: 8px;
  font-size: 1.2em;
  font-family: 'Quicksand', sans-serif;
}

.deleteButton:hover {
  cursor: pointer;
  background-color: darkgray;
}
