.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form > input,
.filter > input {
  width: 300px;

  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid darkgray;
  transition: 0.3s border-color;
}

.filter {
  display: flex;
  flex-direction: column;
}

.button {
  width: 150px;
  padding: 15px 0;
  border: none;
  border-radius: 8px;
  font-size: 1.2em;
  background-color: rgb(216, 212, 212);
  font-family: 'Quicksand', sans-serif;
}

.button:hover {
  cursor: pointer;
  background-color: darkgray;
}
